/***************
COLOR VARIABLES
***************/
$text-gold: #eca900;
$text-gold-hover: #bd8700;
$text-common-black: #000;//#213632
$text-common-black-hover: #213632;
$text-white: #fff;
$text-grey: #707070;
$background-grey: #fafafa;
$background-gold: #eca900;
$background-white: #fff;
$border-grey: #e6e6e6;