.volunteer-conclusion {

	&__contacts {
		display: flex;
		flex-direction: column;
		margin-bottom: 50px;
	}

	&__text {
		max-width: 710px;
		font-weight: 400;
		font-size: 18px;

		&:first-of-type {
			font-weight: 700;
		}

		&:not(:last-of-type) {
			margin-bottom: 25px;
		}
	}

	&__link {
		position: relative;
		font-weight: 400;
		font-size: 18px;
		color: $text-common-black;

		&::after {
			content: '';
			z-index: -1;
			position: absolute;
			left: 0;
			bottom: -5%;
			width: 100%;
			height: 2px;
			background-color: $background-gold;
			transition: all 0.3s linear;
		}

		&:hover::after {
			height: 105%;
		}
	}
}